[submodule "robot_dynamics_module/external/pybind11"]
	path = robot_dynamics_module/external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "robot_dynamics_module/external/eigen"]
	path = robot_dynamics_module/external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "robot_dynamics_module/external/toppra"]
	path = robot_dynamics_module/external/toppra
	url = https://github.com/hungpham2511/toppra.git
[submodule "robot_dynamics_module/external/roboticstoolbox"]
	path = robot_dynamics_module/external/roboticstoolbox
	url = https://github.com/petercorke/robotics-toolbox-python.git
